
<div class="theme-container mt-4">
    <div class="flex-row-wrap">
        <div class="flex-47 p-2 flex-row-wrap card">
            <div class="title m-auto">
                <img src="assets/img/croc/how_to.png" class=""/>
            </div>
            <div class="desc p-2 m-t-b-auto">
                <h2 class="text-center">{{'HOW_TO.TITLE' | translate: {Default: 'For customers, easy and convenient'} }}</h2>
                <ul>
                    <li>{{'HOW_TO.STEP_1' | translate: {Default: 'First, search for the vehicle by VIN'} }}</li>
                    <li>{{'HOW_TO.STEP_2' | translate: {Default: 'Then, select the report type you wish to purchase'} }}</li>
                    <li>{{'HOW_TO.STEP_3' | translate: {Default: 'Complete the payment'} }}</li>
                    <li>{{'HOW_TO.STEP_4' | translate: {Default: 'Receive the report'} }}</li>
                </ul>
            </div>
            <div class="w-100 text-center">
                <a mat-raised-button class="blod button-strech" href="/report">
                    {{ 'REPORT.TITLE' | translate:{ Default: 'Get vehicle history report by VIN' } }}
                </a>
            </div>
        </div>
        
        <div  class="flex-47 p-2 flex-row-wrap card">
            <div class="title m-auto">
                <img src="assets/img/croc/discaunt.png" class=""/>
            </div>
                
            <div class="desc p-2 m-t-b-auto">
                <h2 class="text-center">{{'DISCOUNT.TITLE' | translate: {Default: 'Wholesale / Car Dealer'} }}</h2>
                <ul>
                    <li>{{'DISCOUNT.DESC_1' | translate: {Default: 'Contact us to get to our budget-friendly packaged deals. Unlock low rates and access.'} }}</li>
                    <li>{{'DISCOUNT.DESC_2' | translate: {Default: 'Unlock access history section to view and track all your past reports.'} }}</li>
                    <li>{{'DISCOUNT.DESC_3' | translate: {Default: 'Intigrate us to you website, make additonal incom from car reports.'} }}</li>
                </ul>
            </div>
            <div class="w-100 text-center">
                <a mat-raised-button class="blod button-strech" href="/deals">
                    {{ 'DEAL.GET_DEAL' | translate:{ Default: 'Get a deal"' } }}
                </a>
            </div>
        </div>

    </div>
</div>