<div class="p-2 theme-container w-100">
    <div>
        <h4>Privacy Policy</h4>
        <p>Last Updated: 03.16.26</p>
        <p><span class="blod">INFORMATION AND USE.</span> We collect your name and email address to identify and manage your account and also we might store IP addresses for security and operational purposes. 
            Your password is securely stored using password hashing. We also collect information you submit through our services, including but not limited to Vehicle Identification Numbers (VINs), to provide and improve our services, generate reports, and maintain your account.
            Your email address is used to manage your account, send you reports and important updates, and improve your experience with <span class="blod">CarCroc</span>.</p>
        <p><span class="blod">SAFETY.</span> We take the security of your personal information seriously. Your name, email address, password, and any other data you provide are stored securely. While we implement industry-standard measures to protect your information, no online system can be guaranteed to be completely secure.</p>
        <p><span class="blod">SHARING.</span> We may share your information with trusted partners who assist us in providing our services (such as sending emails or processing payments). These partners are obligated to keep your information confidential and use it only for the purposes we've agreed upon. 
            In certain circumstances, we may also disclose your information if required by law, such as in response to a subpoena or other legal request.</p>
        <p><span class="blod">COOKIES.</span> We may use cookies to improve your experience on our site. Cookies are small files that help us remember things like your preferences. 
            You can turn off cookies in your browser settings, but this may affect how our site works for you.</p>
        <p><span class="blod">RIGHTS.</span> You can access or update your information anytime by logging into your account or to delete information by reaching out to us directly. 
            If you don’t want to receive marketing emails or important site notifications, just let us know, and we’ll take care of it.</p>
        <p><span class="blod">CHILDREN’S PRIVACY.</span> Our services are not for kids/people under 18, and we don’t knowingly collect info from children. If we find out we have, we’ll delete it as soon as possible.</p>
        <p><span class="blod">CONTACT.</span> If you have any questions about this Privacy Policy or anything else, feel free to reach out to us at: Contact Us / Write to us</p>
    </div>
    <div class="text-center mt-4">
        <a href="/" mat-raised-button color="accent">Go To Home Screen</a>
    </div>
</div>
