$font-family-h: "Montserrat", sans-serif;
$font-family: "Poppins", sans-serif;
$font-weight: 500;
$font-size: 1.07em;
$font-color: black;
$background-color: #060c26;
$theme-max-width: 1295px;
$main-toolbar-height: 52px;
